<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akbros.wifiserial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.akbros.wifiserial.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akbros.wifiserial.ServersActivity"
            android:label="@string/title_activity_servers"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akbros.wifiserial.MainActivity" />
        </activity>
        <activity
            android:name="com.akbros.wifiserial.TerminalActivity"
            android:label="@string/title_activity_terminal"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akbros.wifiserial.ServersActivity" />
        </activity>
        <activity
            android:name="com.akbros.wifiserial.QuickButtonsActivity"
            android:label="@string/title_activity_quick_buttons"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.akbros.wifiserial.RemoteActivity"
            android:label="@string/title_activity_remote"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akbros.wifiserial.QuickButtonsActivity" />
        </activity>
        <activity
            android:name="com.akbros.wifiserial.RemoteEditActivity"
            android:label="@string/title_activity_remote_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.akbros.wifiserial.TouchPadActivity"
            android:label="@string/title_activity_touch_pad" >
        </activity>
        <activity
            android:name="com.akbros.wifiserial.WMPlayerActivity"
            android:label="@string/title_activity_wmplayer" >
        </activity>
        <activity
            android:name="com.akbros.wifiserial.SystemRemote"
            android:label="@string/title_activity_system_remote" >
        </activity>
        <activity
            android:name="com.akbros.wifiserial.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akbros.wifiserial.MainActivity" />
        </activity>
    </application>

</manifest>
